<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareXpert</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div class="logo"><img src="../static/images/CareXpert.png" alt=""></div>
        <nav>
            <a href="#" class="translate-icon"><img src="../static/images/language.png" alt="language feature"></a>
            <button class="quick-scan-button">Quick Health Scan</button>
        </nav>
    </header>

    <div class="background-text">
        <div class="scroll-line left">
            Diabetes Hypertension Arthritis Asthma COVID-19 Migraines Heart Disease Influenza Kidney Disease Allergies Anxiety Depression Skin Conditions Infections Obesity Thyroid Disorders Digestive Issues
        </div>
        <div class="scroll-line right">
            Cancer Heartburn Stroke High Blood Pressure Bone Health Skin Conditions Lung Disorders Hormonal Imbalance Infections Nutrition Eye Conditions Muscular Disorders Chronic Pain Mental Health Issues
        </div>
        <div class="scroll-line left">
            Wellness Therapy Nutrition Mental Health Fitness Immunity Respiratory Disorders Liver Health Pregnancy Dental Care Physical Rehabilitation Neurological Issues Cardiovascular Health Digestive Health
        </div>
    </div>

    <main>
        <div class="doctor-container">
            <img src="../static/images/doc.png" alt="Cartoon Doctor" class="doctor-image">
        </div>

        <div class="quote-box">
            <h1>Empowering you with instant insights for a healthier tomorrow.</h1>
        </div>
    </main>

    <script>
        document.querySelector('.translate-icon').addEventListener('click', () => {
            alert("Language switch coming soon!");
        });

    </script>
</body>

</html>