<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareXpert</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>
      section{
        display: flex;
      }
        .sidebar{
            border: 1px solid black;
            background: rgb(160, 234, 255);
            width: 20%;
            margin: 1%;
        }
        .sidebar .card{
            border: 1px solid black;
            margin: 5%;
        }
    </style>
</head>
<body>

   <section> <div class="sidebar">
    <div class="card">
        <h2>Height</h2>
    <p>Enter your Accurate height in feets.</p>
    <div class="inercard">
     <input type="text" placeholder="95">
     <img src="" alt="Blood_Pressure">
    </div>    
</div>

    <div class="card">
        <h2>Age</h2>
    <p>Enter your Accurate Age.</p>
    <div class="inercard">
        <input type="text" placeholder="95">
        <img src="" alt="Blood_Pressure">
       </div>    
</div>
    
    <div class="card">
        <h2>Weight</h2>
    <p>Enter your Accurate Weight in KiloGrams.</p>
   <div class="inercard">
    <input type="text" placeholder="95">
    <img src="" alt="Blood_Pressure">
   </div>
    </div>

    <div class="card">
        <h2>Blood Pressure</h2>
    <p>Enter your Accurate Blood Pressure.</p>
   <div class="inercard">
    <input type="text" placeholder="95">
    <img src="" alt="Blood_Pressure">
   </div>
    </div>
   <button type="submit">Analyze</button> 
</div>

<!-- Graphs are presented here -->
<div class="presentation">
    <div class="inerpresentaion">
        <div class="graph">
            <h2>Diagnose Graph</h2>
        </div>
        <div class="Disease">
            <h2>Disease</h2>
            <p id="Disease">Disease</p>
        </div>
    </div>
    <div class="AIgenerated">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga repudiandae deleniti ea eius animi ipsa ipsam cumque provident enim voluptatem officiis eos excepturi aut cum quia doloribus sint, non, culpa labore. Perferendis quos velit voluptatibus unde iste harum quasi temporibus consectetur, amet, quisquam hic vel tenetur adipisci culpa! Iste.</p>
    </div>
</div></section>
</body>
</html>